.card {
  text-align: center;
}

.card label, .card textarea, .card input{
  display: block;
  margin: 0 auto;
}

.card textarea {
  resize: none;
  font-size: 1.1em;
  width: 80%;
  height: 25vh;
}

.card label {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 2px;
}

.card input {
  width: 80%;
  height: 1.6em;
  font-size: 1em;;
}

.card button {
  margin: 5px;
  padding: 6px;
}

.card button[type="reset"] {
  background-color: red;
}

@media (max-width: 768px) {
  .card textarea, .card input{
    width: 95%;
  }
}